    @font-face {
        font-family: "MontserratLight";
        src: url("../fonts/Montserrat-Light.otf") format("opentype");
    }
    
    @font-face {
        font-family: "MontserratHairline";
        src: url("../fonts/Montserrat-Hairline.otf") format("opentype");
    }
    
    @font-face {
        font-family: "MontserratUltraLight";
        src: url("../fonts/Montserrat-UltraLight.otf") format("opentype");
    }
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        font-family: MontserratUltraLight, Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section,
    main {
        display: block;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    .wrapper {
        margin: 0 auto;
        width: 1280px;
    }
    
    .container {
        text-align: left;
        font-size: 0.1px;
    }
    
    .container:after {
        content: '';
        display: inline-block;
        width: 100%;
        list-style: none;
    }
    
    .container .mix {
        display: none;
    }
    
    .full-width {
        width: 100%;
    }
    
    .navbar-header {
        height: 70px;
    }
    
    .navbar-custom {
        margin-bottom: 0;
        text-transform: uppercase;
        font-family: MontserratHairline, Arial, Helvetica, sans-serif;
        overflow: hidden;
    }
    
    .navbar-custom ul {
        list-style: none;
        margin: 0 10px 0 10px;
        padding: 0;
    }
    
    .navbar-custom ul li {
        font-size: 12px;
        font-weight: bold;
        margin-right: 10px;
        text-align: center;
    }
    
    .navbar-custom a {
        color: #fff;
    }
    
    .navbar-custom .navbar-brand {
        font-weight: 700;
    }
    
    .navbar-custom .navbar-brand img {
        width: 170px;
    }
    
    .navbar-custom .navbar-brand:focus {
        outline: 0;
    }
    
    .navbar-custom .navbar-brand .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
    }
    
    .navbar-custom .navbar-brand .navbar-toggle:focus,
    .navbar-custom .navbar-brand .navbar-toggle:active {
        outline: 0;
    }
    
    .navbar-custom .nav li a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
    }
    
    .navbar-custom a:hover {
        outline: 0;
        color: #ed1654;
    }
    
    .navbar-custom .nav li a:focus,
    .navbar-custom .nav li a:active {
        color: color: #ed1654;
        outline: 0;
        background-color: transparent;
    }
    
    .navbar-custom .nav li.active {
        outline: 0;
    }
    
    .navbar-custom .nav li.active a {}
    
    .navbar-custom .nav li.active a:hover {
        color: #000;
    }
    
    .intro {
        padding: 0;
        display: table;
        width: 100%;
        text-align: center;
        color: #fff;
        /*background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;*/
        background-color: #fff;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    
    .controls {
        display: none;
    }
    
    .intro .intro-body {
        display: table-cell;
        vertical-align: middle;
    }
    
    .intro .intro-body .brand-heading {
        font-size: 40px;
    }
    
    .intro .intro-body .intro-text {
        font-size: 18px;
    }
    
    .top-nav-collapse a {
        color: #362744;
    }
    
    .top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        -webkit-transition: background-color 300ms linear, color 1s linear;
        -moz-transition: background-color 300ms linear, color 1s linear;
        -o-transition: background-color 300ms linear, color 1s linear;
        -ms-transition: background-color 300ms linear, color 1s linear;
        transition: background-color 300ms linear, color 1s linear;
    }
    
    #contacto {
        margin: 20px 0;
    }
    
    .contact-section {
        padding: 20px 0;
        text-align: center;
    }
    
    .contact-section h3 {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 0;
        color: #333;
    }
    
    .contact-section h3 span.subtitle {
        display: block;
        margin-top: 5px;
        color: #444;
        font-weight: 300;
        text-transform: none;
    }
    
    footer {
        height: 130px;
        padding: 30px;
        background-image: url("../img/back_footer.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    footer .copy p {
        font-size: 1.2em;
        color: #fff;
    }
    
    #social-footer ul {
        margin-top: 10px;
        text-align: center;
    }
    
    #social-footer ul li {
        list-style: none;
        display: inline-block;
        margin-right: 10px;
    }
    
    #social-footer ul li img {
        width: 40px;
    }
    
    #phrase {
        height: 200px;
        background-image: url(../img/back_footer.jpg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    #phrase h2 {
        font-family: MontserratLight;
        color: #fff;
        font-size: 1.5em;
        text-align: center;
        margin-top: 90px;
    }
    /*POSIBILIDAD, SI NO EDITAR FOTOS*/
    
    .bg-dark-50:before {
        position: absolute;
        background: rgba(0, 0, 0, .5);
        content: " ";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
    
    .module-hero {
        top: 0px;
        opacity: 1;
        height: 623.05px;
        position: relative;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        z-index: 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .hs-caption {
        color: #fff;
        width: 100%;
        position: relative;
        display: table;
        height: 100%;
    }
    
    .caption-content {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    
    .hs-title-size-3 {
        letter-spacing: 0.1em;
        font-size: 28px;
    }
    
    .hs-title-size-2 {
        letter-spacing: 0.2em;
        font-size: 18px;
    }
    
    .padding-description {
        padding: 10px;
    }
    
    .btn-subir {
        z-index: 10;
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        opacity: 0;
        background-image: url(../img/icon-up.svg);
        background-size: contain;
        -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
    }
    
    .btn-subir a {
        z-index: 10;
        background-color: transparent;
        width: 50px;
        height: 50px;
    }
    
    .prueba {
        opacity: 1.0;
    }
    
    @media(min-width:768px) {
        .controls {
            display: inherit;
        }
        .controls {
            display: inherit;
            text-align: center;
            vertical-align: middle;
            padding: 2%;
        }
        .controls a {
            display: inline-block;
            padding: .3em .7em;
            font-size: 16px;
            font-weight: 300;
            color: #aaaaaa;
            cursor: pointer;
        }
        .controls a.active {
            color: #362744;
        }
        .controls a:hover {
            color: #362744;
            text-decoration: none;
            -webkit-transition: color .3s ease-in-out;
            -moz-transition: color .3s ease-in-out;
            transition: color .3s ease-in-out;
        }
        .navbar-custom {
            padding: 20px 0;
            letter-spacing: 1px;
            background: 0 0;
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }
        .navbar-custom.top-nav-collapse {
            padding: 0;
            border-bottom: 1px solid rgba(255, 255, 255, .3);
            background: #fff;
        }
        .navbar-custom.top-nav-collapse img {
            content: url("../img/logo.png");
        }
        .navbar-custom.top-nav-collpase a {
            color: #000;
        }
        .intro .intro-body .brand-heading {
            font-size: 100px;
        }
        .intro .intro-body .intro-text {
            font-size: 26px;
        }
        .content-section {
            padding-top: 250px;
        }
        .download-section {
            padding: 100px 0;
        }
        footer {
            height: 160px;
            padding: 40px;
        }
        #phrase {
            height: 300px;
        }
        #phrase h2 {
            font-size: 2.4em;
            margin-top: 140px;
        }
        .padding-description {
            padding: 20px;
        }
    }